html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
	background-color: #0e1111;
	font-size: 1rem;
	color: #f9f1f1;
	overflow: hidden;
}

div.nav {
	text-align: left;
	font-size: 1.15em;
	margin: 0.625rem;
	text-decoration: none;
	line-height: 2.5em;
}

.position {
	position: absolute;
	left: 50%;
	top: 45%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

a {
	display: inline-block;
	text-decoration: none;
	color: #f9f1f1;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #00ffff;
	transform: scale(1.1);
}

/* ################button################## */

button {
    display: inline-block;
    border-radius: 0.25rem;
    border: none;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.75rem;
    width: 7.5rem;
    transition: all 0.5s;
    margin: 0.313rem;
    cursor: pointer;
    background-color: #232b2b;
    border: 1px solid #F88379;
    color: #f9f1f1;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.25rem;
    transition: 0.5s;
}

button:hover span {
    padding-right: 1.563rem;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}