html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
	background-color: #0e1111;
	font-size: 1rem;
	color: #f9f1f1;
	overflow: hidden;
}

.nav {
	text-align: left;
	font-size: 1.15em;
	margin: 0.625rem;
    margin: 0 0.625rem 0.625rem 5rem;
	text-decoration: none;
	line-height: 2.5em;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #f9f1f1;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #00ffff;
	transform: scale(1.1);
}

.position {
    max-width: 100%; 
    text-align: center;
}

h1 { 
    visibility: hidden; 
}

@media (min-width: 768px) and (min-height: 700px) {       
    .position {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    h1 { 
        font-size: 100px; 
        transition: transform .7s ease-in-out; 
    }
    
    h1:hover { 
        transform: rotate(3deg); 
    }
}